*.log
*.pyc
*.tgz
*.tar
*.rar
*.gz
*.txt
*.xml
*.json
*.local.*
.DS_Store
*.pyc
*.exe
*.bin
*.zip
*.tgz
*.tar
.rar
*.gz
*.tmp
*.log
*.obj
*.ipynb
CMakeFiles
.idea
cmake_install.cmake
CMakeCache.txt
tags
*.class
*.o
__pycache__
*.log
*.bk
*.swp
*.png
*.jpg
*.mp3
*.mp4
*.avi
*.mov
*.rmvb
*.wmv
.git
.svn
.vscode
.gif
src/dk
datas
env
src/bak*


